
.form-layout{

    border-radius: 20px;
    width: 500px;
    
}

body{
    background-color: blueviolet;
}

.navbar{
    background-color: rgb(73, 26, 116);
}

.album{
    background-color: rgb(104, 39, 165);
}





















